.box{
    position: relative;
    width: 82%;
    height: auto;
    min-height: 900px;
    background-color: rgb(240,240,240,0.5);
    margin: 0;
    left: 17%;
    top: 50px;
    backdrop-filter: blur(8px);
    background: linear-gradient(rgba(172, 69, 0, 0.1));
    -webkit-backdrop-filter: blur(12px);
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.534);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    margin-bottom: 150px;
    transition: all 5s ease;
    user-select: none;
}

.box:hover{
    backdrop-filter: blur(18px);
    box-shadow: 0 10px 48px 0 rgba(0, 0, 0, 0.5);
}

.header{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 42px;
    background-color: rgb(41, 41, 41);
    left: 0px;
    color: white;
    user-select: none;
}

.header p{
    font-size: 1.8em;
    position: relative;
    width: 200px;
    left: 57px;
    top: 3.5px;
    font-family: sans-serif;
    margin: 0px;
}

.sideBarBox{
    position: absolute;
    top: 70px;
    left: 30px;
    width: 14%;
    border-radius: 5px;
    backdrop-filter: blur(8px);
    background: linear-gradient(135deg, rgba(143, 16, 16, 0.1), rgba(126, 15, 15, 0.1));
    border: 1px solid rgba(0, 0, 0, 0.18);
    box-shadow: 0 8px 32px 0 rgba(143, 53, 53, 0.37);
    user-select: none;
}

.subBox{
    display: block;
    position: relative;
    width: 95%;
    margin: 1.5%;
    border-radius: 7px;
    border: solid rgb(0, 0, 0, 0.01) 5px;
}

.subBox h3{
    text-align: center;
    font-family: "Microsoft Himalaya";
    font-size: 2.5em;
    color: rgba(0, 0, 0, 0.4);
    margin-top: 7px;
    margin-bottom: 7px;
}

.subBox h3::after{
    content: "";
    position: absolute;
    background-color: rgb(0, 0, 0, 0.3);
    width: 40%;
    height: 3px;
    left: 30%;
    top: 34px;
}

.directBox p{
    font-size: 1.1em;
    display: inline-block;
    margin-left: 7px;
    position: relative;
    color: inherit;
    transition: all 0.3s ease;
    margin-bottom: 0;
    padding: 0;
}

.titleBox{
    display: block;
    border-radius: 5px;
}

.directBox{
    padding: 0px;
    font-family: "Microsoft Himalaya";
    font-size: 2.3em;
    margin-bottom: -5px;
    margin-top: -25px;
    color: rgba(0, 0, 0, 0.7);
    transition: all 0.15s ease;
}

.directBox:hover{
    filter: brightness(0) saturate(100%) invert(12%) sepia(94%) saturate(2555%) hue-rotate(-7deg) brightness(91%) contrast(101%);
}

.icon{
    margin-left:15px;
    display: inline-block;
    margin-bottom: 0px;
    font-size: 0.7em;
}

.picture{
    position: relative;
    margin-left:15px;
    display: inline-block;
    margin-bottom: 0px;
    width: 25px;
    height: 25px;
    top: 2px;
}

.bestiaryBox {
    display: inline-block;
    width: 18.84%;
    margin: 0 0.17%;
    margin-top: 4px;
    padding: 5px;
    height: 35px;
    border-radius: 3px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.04);
    color: rgba(0, 0, 0, 0.7);
    transition: all 1s ease;
    position: relative; 
}

.bestiaryBox:hover{
    filter: brightness(150%) contrast(150%);
    box-shadow: 3px 3px rgba(0, 0, 0, 0.1);
}

.bestiaryBox::after {
    content: "";
    position: absolute;
    top: 5%;
    right: -5px;
    height: 90%;
    width: 1px;
    background-color: rgba(0, 0, 0, 0.05);
}

.bestiaryBox:last-child::after {
    display: none;
}

.bestiaryBox:nth-child(5n)::after {
    display: none;
}

.searchBar{
    position: relative;
    width: 82%;
    height: 100px;
    top: 70px;
    margin: 0;
    left: 17%;
    user-select: none;
}

.searchButton{
    display: inline-block;
    text-align: center;
    font-family: "Sitka Banner";
    font-size: 1.8em;
    width: 10%;
    padding: 7px;
    margin-left: 5px;
    margin-right: 5px;
    backdrop-filter: blur(8px);
    background: linear-gradient(rgba(172, 69, 0, 0.1));
    -webkit-backdrop-filter: blur(12px);
    border-radius: 5px;
    border: solid rgba(0, 0, 0, 0.316) 2px;
}

.searchInput{
    display: inline-block;
    text-align: center;
    font-family: "Sitka Banner";
    color:black;
    font-size: 1.8em;
    width: 15%;
    padding: 7px;
    margin-left: 5px;
    margin-right: 5px;
    backdrop-filter: blur(8px);
    background: linear-gradient(rgba(172, 69, 0, 0.1));
    -webkit-backdrop-filter: blur(12px);
    border-radius: 5px;
    border: solid rgba(0, 0, 0, 0.316) 2px;
}

.searchInput::placeholder{
    color:black;
}

.searchSelect{
    display: inline-block;
    font-family: "Sitka Banner";
    color:black;
    font-size: 1.8em;
    width: 15%;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    backdrop-filter: blur(8px);
    background: linear-gradient(rgba(172, 69, 0, 0.1));
    -webkit-backdrop-filter: blur(12px);
    border-radius: 5px;
    border: solid rgba(0, 0, 0, 0.316) 2px;
}

.searchSelect option {
    color: black;
    background-color: #b18b54;
    font-family: "Sitka Banner";
    font-size: 1em;
}