#createButton{
    position: absolute;
    font-size: 1.8em;
    position: absolute;
    width: 400px;
    right: 0px;
    top: -70.5px;
    background-color: rgb(41, 41, 41);
    color: white;
    right: -30px;
    border: none;
    font-family: sans-serif;
    margin: 0px;
}

.charName{
    display: inline-block;
    margin: 0px;
    margin-left: 20px;
    font-family: "Microsoft Himalaya";
    font-size: 2.2em;
    user-select:text;
}

#charName{
    font-family: "Sitka Banner";
    font-size: 1.1em;
}

#charName::after{
    content: "";
    position: absolute;
    background-color: rgb(0, 0, 0, 0.07);
    width: 13%;
    height: 3px;
    left: -2px;
    top: 37px;
}

.rows {
  display: flex;
  align-items: center;  
  font-size: 1.2em;
  margin-bottom: 10px;
}

.rows::before,
.rows::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #00000041;
  margin: 0 8px;
  max-width: 20px;
}

.statBox{
    width: 80px;
    display: inline-block;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.statBox button{
    font-size: 1.5em;
    width: 80%;
    border: none;
}

.statUpB{
    border-radius: 5px;
    background-color: rgba(62, 128, 0, 0.438);
}

.statDownB{
    border-radius: 5px;
    background-color: rgba(175, 2, 2, 0.438);
}